 .body-img{
    background-image: url("https://www.unomaha.edu/university-communications/_files/img/1175i-web_mc_homepage_visit_mar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    min-height: 88vh;
    width: 100%;
  }
  
  
  .form-container {
    font-family: 'DM Serif Display', serif;
    background-color: rgb(254, 254, 246);
    object-fit: cover;
    background-position: start;
    background-repeat: repeat;
    background-size: cover;
    width: 81%;
    max-width: 500px;
    margin-inline: auto;
    margin-top: 12vh;
    padding-block: 60px;
    padding-inline: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 20px 30px 0 rgb(0, 0, 0);
  }
  
  .text {
    position: relative;
    margin-top: -30px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  label {
    width: 100%;
    margin-top: 10px;
    color: rgb(63, 63, 63);
    font-weight: bold;
  }
  
  input,
  .button {
    width: calc(100% - 16px);
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    color: rgb(63, 63, 63);
  }
  
  .button {
    font-family: 'DM Serif Display', serif;
    margin-top: 1rem;
    background-color: #843d31;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #8b2c2c;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    animation: 1s ease 0s normal none pulsate;
    opacity: 1;
  }
  
  .error {
    color: red;
    margin-top: -1px;
  }
  